/* Ensure FullCalendar container takes full width but limits the max width */
.fc {
  width: 100%;
  max-width: 1200px; /* Adjust this value as needed */
  height: 90vh;
  color: black;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}

body {
  background-color: white;
  color: black;
}

.allcal {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  align-items: center;
}

.headerToolbar {
  background-color: white;
}

/* Adjust calendar height for smaller screens */
.fc-view {
  height: 70vh;
}

/* Center the calendar title */
.fc-toolbar-title {
  color: rgb(26, 99, 209);
  text-align: center;
}

.topic {
  color: white;
}

/* Simple button styles */
.button1,
.button2,
.button3 {
  width: 200px;
  padding: 10px;
  background-color: rgb(8, 99, 190);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 2px;
}

.button1:hover,
.button2:hover {
  background-color: rgb(25, 118, 210);
}

.button2 {
  margin-left: 150px;
}

.button4 {
  background-color: rgb(190, 8, 8);
  width: 150px;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button {
  background-color: rgb(8, 99, 190);
  margin-left: 100px;
}

.save-button:hover {
  background-color: rgb(25, 118, 210);
}

.button3 {
  background-color: #7b14aa;
}

.eventdetails {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 80%; /* Adjust width */
  margin: 0 auto; /* Center horizontally */
}

/* Center button containers */
.button2-container {
  text-align: center;
  margin-top: 20px;
}

.fc-toolbar .fc-button-primary {
  background: rgb(26, 99, 209);
  color: white;
  border: #48CAE4;
}

.fc-toolbar .fc-button-primary:active {
  background: #48CAE4;
}

.fc-toolbar {
  background-color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 750px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
}

.modal-content {
  background-color: black;
  padding: 20px;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  color: white;
}

.fc-day-today {
  background-color: #4296a7;
}

.reminder {
  color: black;
  background-color: white;
}
