.header {
  cursor: pointer;
  grid-area: header;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  background-color: rgb(25, 118, 210);
  width: 100%;
  margin: 0;
  padding: 10px 20px;
}

.toggle-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin-right: auto; 
  margin-left: 20px;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}

.menu-icon .icon {
  margin-right: 8px;
}

.icon {
  vertical-align: middle;
  font-size: 20px;
  z-index: 1;
  position: relative;
  top: 25%;
  margin-left: 10px;
  color: rgb(246, 243, 243);
}

.back {
  top: 25%;
  position: absolute;
  text-decoration: none;
  color: rgb(244, 240, 240);
}

.foot {
  width: 100%;
  height: 50px;
  background-color: rgb(25, 118, 210);
  margin-top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  color: rgb(248, 245, 245);
  font-size: 20px;
  font-family: 'Roboto';
  text-align: center;
  padding-top: 15px;
}

.window-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
}

.parent-container {
  position: relative;
}

.pick {
  margin-top: 0;
  padding-top: 0;
  color: rgb(7, 7, 7);
  text-align: center;
  z-index: 1;
  justify-content: center;
  border-style: none;
  position: absolute;
  top: 0;
  right: 20px; /* Align to the right */
  height: 50px;
  display: flex;
  align-items: center;
}

.date-picker-container {
  display: flex;
  align-items: center;
  color: black;
  width: 100%;
}

.date-picker-container label {
  margin-right: 10px;
  white-space: nowrap;
  color: black;
}

.date-picker-container .MuiInputBase-root {
  height: 100%;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .toggle-btn {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .toggle-btn {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .toggle-btn {
    font-size: 12px;
  }
  .icon {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .toggle-btn {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .icon {
    font-size: 16px;
  }
  h2 {
    font-size: 18px;
  }
  .date-picker-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .date-picker-container label {
    margin-bottom: 5px;
  }
}
