/* /Header.css/ */

.header {
  /* width: 100%; */
  /* position: absolute; */
  cursor: 'pointer';
  grid-area: header;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  background-color: rgb(25,118,210);
  width: auto;
  margin-bottom: 0px;
  margin-top: 0px;
    padding: 10px 20px;
  }

  .toggle-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    padding-left: 20px;
    align-items: center;
    padding-top: 15px;
    padding-right: 15px;
  }


.menu-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: black;
}

.menu-icon .icon {
    margin-right: 8px;
}

  
  .icon {
    vertical-align: middle;
    font-size: 20px;
    z-index: 1;
    position: relative;
    top: 25%;
    margin-left: 10px;
    color: rgb(246, 243, 243);
  }
  
  .back {
    top: 25%;
    position: absolute;
    text-decoration: none;
    color: rgb(244, 240, 240);
  }
  
  .foot {
    width: 100%; /* Make sure it takes the full width of the container */
    height: 50px;
    /* background-image: linear-gradient(90deg, #80a1f4, #4d7cf3); */
    background-color: rgb(25,118,210);
    margin-top: 0px; /* Push the footer to the bottom */
    text-align: center; /* Center align the text */
    display: flex;
    align-items: center; /* Center align items vertically */
    justify-content: center; /* Center align items horizontally */
  }
  
  h2 {
    color: rgb(248, 245, 245);
    font-size: 20px;
    font-family: 'Roboto';
    text-align: center;
    padding-top: 15px;
  }
  
  .window-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
  }
  
  .parent-container {
    position: relative;
  }
  
  /* Style for the .pick element */
  .pick {
    width: 250px;
    margin-top: 0;
    padding-top: 0;
    color: rgb(7, 7, 7);
    text-align: center;
    z-index: 1;
    justify-content: center;
    border-style: none;
    position: absolute;
    top: 0; /* Adjust to align vertically within the header */
    right: 50px; /* Adjust as needed */
    height: 50px; /* Match the header height */
    display: flex;
    align-items: center;
  }
  
  /* Responsive adjustments */
  @media (max-width: 1200px) {
    .pick {
      width: 180px;
      right: 70px; /* Adjust as needed */
    }
  }
  
  @media (max-width: 992px) {
    .pick {
      width: 160px;
      right: 90px; /* Adjust as needed */
    }
  }
  
  @media (max-width: 768px) {
    .pick {
      width: 140px;
      right: 110px; /* Adjust as needed */
    }
  }
  
  @media (max-width: 576px) {
    .pick {
      width: 120px;
      right: 130px; /* Adjust as needed */
    }
  }
  
  .date-picker-container {
    display: flex;
    align-items: center;
    color: black;
  }
  
  .date-picker-container label {
    margin-right: 10px;
    white-space: nowrap;
    color: black;
  }
  
  .date-picker-container .MuiInputBase-root {
    height: 50px; /* Match the header height */
  }
  
  
