
@media print {
    body * {
      visibility: hidden;
    }
    #printableArea, #printableArea * {
      visibility: visible;
    }
    #printableArea {
      position: center;
      left: 0;
      top: 0;
    }
  }


  .box{
    width: 170%;
    height: 75%;
    background-color: white;
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
   margin-left: -40%;
    margin-bottom: 30%;
    float: center;
  }
  