.sidebartext {
    /* padding: 5px; */
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.181);
    /* Slight background color */
    /* Background shadow */
    border-radius: 4px;
    /* Rounded corners */
    /* Smooth transition for hover effect */
}