.backicon{
      
      border: 1px solid;
      padding: 0px 25px px 25px;
      margin-left: 20px;
      margin-top: -20px;
      background-color: rgba(60, 108, 230, 0.647);
      color: azure;
      float: left;
      cursor: pointer;
      flex: auto;
      
      
}