.save{
    width: 25%;
    height: 30px;
    background: #667EEA;
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    margin-top: 20px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .cancel{
    width: 25%;
    height: 30px;
    background: #2C4A7C;
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    margin-top: 20px;
    float: right;
    color: white;
    cursor: pointer;
    margin-right: 10px;
   
  }
  .window-actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  } 
